@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

.container {
    font-family: 'Cairo', sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  h1,
.section-title {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-field {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .fetch-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fetch-button:hover {
    background-color: #45a049;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .file-list,
  .directory-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .file-item,
  .directory-item {
    margin-bottom: 5px;
  }
  