<template>
  <div class="container">
    <h1 class="title">Enter a valid path:</h1>
    <div class="input-wrapper">
      <input type="text" v-model="path" placeholder="C:\Users\nouha\Pictures" class="input-field">
      <button @click="fetchFiles" class="fetch-button">Fetch Files</button>
    </div>

    <div v-if="files.length" class="section">
      <h2 class="section-title">Files:</h2>
      <ul class="file-list">
        <li v-for="file in files" :key="file" class="file-item">{{ file }}</li>
      </ul>
    </div>
    
    <div v-if="directories.length" class="section">
      <h2 class="section-title">Directories:</h2>
      <ul class="directory-list">
        <li v-for="directory in directories" :key="directory" class="directory-item">{{ directory }}</li>
      </ul>
    </div>
  </div>
  <toast />
</template>

<script>
import { useToast } from 'vue-toastification';
import axios from 'axios';
import '../../../public/css/styles.css';

export default {
  data() {
    return {
      path: '',
      files: [],
      directories: [],
    };
  },
  methods: {
    fetchFiles() {
      const toast = useToast();
      const data = {
        path: this.path,
      };

      axios.post('/api/files', data)
        .then(response => {
          this.files = response.data.files;
          this.directories = response.data.directories;
        })
        .catch(error => {
          error =error.response.data;
          console.log("error",error.message);
          toast.error(error.message); // Display toast notification
        });
    },
  },
};
</script>
